
.dashboardPage {
    padding: 20px;
    min-height: 100vh;
  }
  body {
    background-color: rgb(228, 239, 226);
  }
  
  
  h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  .dashboardContent {
    margin: 20px 0;
  }
  
  .dashboardPaper {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .loadingContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .header {
    font-size: 1.5rem;
    color: #333333;
    margin: 16px 0;
    text-align:center;
}
