/*---------------------------*/

.dashboardPage {
  padding: 20px;
  min-height: 100vh;
}

.dashboardContent {
  margin: 20px 0;
}

.dashboardPaper {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/*---------------------------*/

.card {
  cursor: pointer;
  margin: 10px;
  padding: 20px;
  border-radius: 20px !important;
  transition: all 0.3s ease-in-out;
  background-color: rgba(248, 251, 247, 0.429)  !important;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.card-active {
  border: 2px solid #4caf50;
}

.card-score {
  border-radius: 20px;
  font-weight: bold;
}

.card-score.high {
  color: #4caf50;
}

.card-score.medium {
  color: #ff9800;
}

.card-score.low {
  color: #f44336;
}
/*---------------------------*/

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  overflow-x: auto;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
}

h6 {
  font-size: 1.5rem;
}
/*---------------------------*/

.container {
  margin-top: 50px;
  max-width: 100%;
}

body {
  background-color: rgb(228, 239, 226);
  padding: 0 0 100px 0;
}  

.collapse-section {
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 1.5rem;
  color: #333333;
  margin: 16px 0;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info {
  font-size: 0.8rem;
  color: #333333;
  margin: 16px 0;
  text-align:center;
}
/*---------------------------*/

.paper {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.progressBar {
  margin-top: 20px;
  color: #4caf50;
}

.errorText {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}
/*---------------------------*/

.uploadButton {
  padding: 10px 20px;
  border-color: #4caf50 !important;
  color: #4caf50 !important;
  transition: all 0.3s ease;
}

.uploadButton:hover {
  background-color: #4caf50  !important;
  color: #fff !important;
}

.navigateButton {
  padding: 10px 20px;
  border-color: #4caf50 !important;
  color: #fff !important;
  background-color: #4caf50 !important;
  transition: all 0.3s ease;
}

.navigateButton:hover {
  background-color: #347936  !important;
  color: #fff !important;
}
/*---------------------------*/

.sections-container {
  width: 100%;
  margin: 20px 0;
}

.section-accordion {
  margin-bottom: 20px !important;
}

.section-header .MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 !important;
}

.section-content {
  background-color: #fff;
}
/*---------------------------*/
